<table border="1">
    <tr>
      <th>Route Id</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Cost</th>
      <th>Admin</th>
      <th>Destination</th>
      <th>Source</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor='let route of routes'>
      <td>{{route.routeId}}</td>
      <td>{{route.distance}}</td>
      <td>{{route.duration}}</td>
      <td>{{route.cost}}</td>
      <td>{{route.admin.userId}}</td>
      <td>{{route.source.locId}}</td>
      <td>{{route.destination.locId}}</td>
      
      <td><a class="btn btn-danger" routerLink='editRoute'>Edit</a></td>
     <td> <button class="btn btn-danger" (click)="delete(route.routeId)">Delete</button></td>
    </tr>
  </table>
  
  <a routerLink='/home/addroute'>AddRoute</a>
  


  
