<!-- <a href="http://localhost:8625/GriffinAirways/admin/flights"></a>  -->
<!-- <ul>
    <li *ngFor="let flight of flights"
    [class.selected]="flight === selectedflight" (click)="onSelect(flight)">
    <h4>{{flight.flightId}} - {{flight.fname}} {{flight.reserveSeat}} {{flight.seatCap}}
      {{flight.flightType}}
    </h4> 
  </li>
  </ul>
  
  <app-employee-details [employee]="selectedEmployee"></app-employee-details>
   <table border='1'>
      <tr>
     <th>Flight Id</th>
     <th>Flight Name</th>
     <th>FlightType</th>
     <th>SeatCapacity</th>
     <th>ReservedSeats</th>
      </tr>
     <tr *ngFor='let flight of flights'>
       <td>{{flight.flightId}}</td>
         <td>{{flight.fname| uppercase}}</td>
           <td>{{flight.reservedSeat}}</td>
             <td>{{flight.seatCap}}</td>
               <td>{{flight.flightType}}</td>

     </tr>
     
     </table> -->