<div style="padding: 20px;">
    <h2 style="color: blue">Welcome </h2>
    <nav>
      <a routerLink="flight" 
      class="btn btn-primary active" 
      role="button" routerLinkActive="active">Flights</a>
     

  
        <a routerLink="route" 
      class="btn btn-primary active" 
      role="button" routerLinkActive="active">Routes</a>
     

          <a routerLink="location" 
        class="btn btn-primary active" 
        role="button" routerLinkActive="active">Locations</a>
       

   
            <a routerLink="schedule" 
          class="btn btn-primary active" 
          role="button" routerLinkActive="active">Schedules</a>
          
      
              
         
          </nav>
    <router-outlet></router-outlet>
  </div>
  